<h1>Check a Porker Hand</h1>
<%= form_tag("/check") do %>
  <input name="cards" class="form" type="text">
  <p><input class="btn" type="submit" value="check"></p>
<% end %>
<% if flash[:messages] %>
  <%= simple_format(flash[:messages]) %>
<% else %>
  <%= "半角英字大文字のスート（S,H,D,C）と数字（1〜13）の組み合わせでカードを指定してください。" %>
<% end %>
